/*Header*/
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}
.menu{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 600px;
    padding: 10px;
    height: 50px;
}
.menu li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
/*Page 1*/
.body1{
    background-image: url('BG.jpg');background-size:cover;background-repeat:  no-repeat;background-position: center;
}
.main1{
    text-align: center;
    color: aliceblue;
}
.p1{
text-align: center;
color:sandybrown;
}
.div1{
    height: 400px;
    background-image:url('FG.png');
}
.h1{
    color:rgb(244, 139, 12);
    margin-left: 100px;
}
.p2{
    margin-left: 100px;text-align: left;color:rgb(255, 255, 255);font-size: x-large;font-weight: bold;
}
.h2{
    margin-left: 600px;color:rgb(244, 139, 12);margin-top:-205px;font-size: x-large;font-weight: bold;
}
.p3{
    margin-left: 600px;margin-top: 10px;color:rgb(255, 255, 255);font-size: x-large;font-weight: bold;
}
.h3{
    margin-top: -205px;margin-left: 1100px;color: rgb(244, 139, 12);
}
.p4{
    margin-left: 1100px;margin-top: 10px;color: rgb(255, 255, 255);font-size: x-large;font-weight:bolder;
}
/*Page 2*/
.body2{
    background-color:blanchedalmond;color:black;
}
.h4{
    font-size: x-large;font-weight: bold;font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.d1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.d2{
    margin-left:500px;font-family:  Verdana, Geneva, Tahoma, sans-serif;margin-top: -1620px;
}
/*Page 3*/
.h5{
    text-align: center;color: black;
}
.two-columns{
    display: flex;
    gap: 20px;
    padding: 10px;
    text-align: left;
}
.left, .right{
    width: 50%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Footer*/
footer{
    background-color:rgb(220, 130, 56);
    color: aliceblue;
    padding:15px;
    text-align: center;
    margin-top: auto;
}
